@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,600,700';

$color-main-background: #EBF6F8;
$color-btn-primary: #FF5C00;
$color-price: #FF5C00;
$color-grey-border: #EBEBEB;
$color-font: #000;

$font-family-header: 'roboto';
$font-family-body: 'open sans';

$space-x-lg: 64px;
$space-lg: 32px;
$space-md: 24px;
$space-sm: 16px;
$space-x-sm: 8px;

$cart-width: 450px;